
    .slider_wrap{
      overflow: hidden;
      position: relative;
      height: 500px;
      background: url(../images/experience/experience_bg.jpg) no-repeat center;
    }
    .slider {
        width: 1920px;
        height: 240px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -960px;
    }
    .slider1{
      top: 300px;
}
    .slick-slide {
      margin: 0px 5px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out 0.3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }